body {
  background: #ffffff;
}

.ui.secondary.nav.menu {
  background: #f8f9fa !important;
  box-shadow: 2px 2px 2px rgb(136, 136, 136, 0.4);
}

.item.header {
  font-size: 30px !important;
  margin-top: -2vh !important;
  margin-left: -1vw !important;
  margin-bottom: -10px !important;
}

.item.header:hover {
  background: #f8f9fa !important;
}

.ui.icon.button {
  margin-right: -1vw !important;
  background: #f8f9fa;
  margin-top: -1vw !important;
}

.ui.button.docs {
  background: #f8f9fa;
  margin-right: -2vw !important;
  margin-top: -1vw !important;
}

.line.load {
  height: 10px !important;
}

.ui.fluid.placeholder.wide {
  height: 30px !important;
  margin-top: 1vh !important;
}

.ui.card.product {
  box-shadow: none !important;
  cursor: pointer !important;
  height: auto !important;
  width: 100% !important;
}

.ui.card.product:hover {
  box-shadow: -2px 2px 10px 1px #888888 !important;
  z-index: 1 !important;
}

.ui.card.product:hover .header {
  color: #36c !important;
}

.ui.card.product:hover .extra.content {
  color: #000 !important;
  font-weight: bold;
}

.gallary {
  margin-top: 5vh !important;
  display: inline-block !important;
  column-count: 4 !important;
  line-height: 0px !important;
  column-gap: 0px !important;
}

.ui.card.filters {
  width: 100% !important;
  box-shadow: none !important;
}
