body {
  background: #ffffff;
}

.load_text {
  text-align: center;
  margin-top: 20vh;
  color: white;
}

.load_text h1 {
  font-size: 40px;
}

.nav {
  background: #36c !important;
  color: white !important;
  box-shadow: 2px 2px 2px rgb(136, 136, 136, 0.4);
  width: 100%;
  height: 65px;
  z-index: 1 !important;
}

.header {
  font-size: 30px;
  margin-left: 5px;
  margin-top: 5px !important;
}

.ui.icon.input.search {
  width: 70% !important;
  margin-top: 7px !important;
  border: none !important;
}

.ui.icon.input.search input {
  border: none !important;
  border-radius: 5px !important;
  background: rgb(0, 0, 0, 0.1);
  color: white;
  font-weight: bold;
}

.ui.icon.input.search input::placeholder {
  color: white;
  font-weight: bold;
}

.ui.icon.input.search input::selection {
  color: white;
  font-weight: bold;
}

.ui.button.update_parent {
  background: inherit !important;
  color: white !important;
  margin-top: 5px !important;
}

.search.icon {
  color: white !important;
}

.filters_nav {
  background: #f8f9fa;
  width: 100vw;
  padding: 5px !important;
}

.filters_nav .ui.button {
  background: inherit !important;
  color: #36c !important;
}

.item.header:hover {
  background: #f8f9fa !important;
}

.ui.icon.button {
  margin-right: -1vw !important;
  background: #f8f9fa;
  margin-top: -1vw !important;
}

.ui.button.docs {
  background: #f8f9fa;
  margin-right: -2vw !important;
  margin-top: -1vw !important;
}

.line.load {
  height: 10px !important;
}

.ui.fluid.placeholder.wide {
  height: 30px !important;
  margin-top: 1vh !important;
}

.ui.card.product {
  cursor: pointer !important;
  height: auto !important;
  width: 100% !important;
  animation: slide-up 0.4s ease;
}

@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.ui.card.product:hover {
  box-shadow: -2px 2px 10px 1px rgb(51, 102, 204, 0.4) !important;
  z-index: 1 !important;
}

.ui.card.product:hover .header {
  color: #36c !important;
}

.ui.card.product:hover .extra.content {
  color: #000 !important;
  font-weight: bold;
}

.ui.card.filters {
  width: 100% !important;
  box-shadow: none !important;
}

.file_upload {
  background: #eaecf0;
  padding: 10px;
  border-radius: 5px;
  color: black;
  cursor: pointer;
}

.ui.button.add_key_value {
  float: right !important;
  background: #eaecf0 !important;
  color: black !important;
  margin-right: 10px !important;
  margin-top: 5px !important;
}

.ui.button.add_key_value:hover {
  box-shadow: 2px 2px 10px 2px rgb(136, 136, 136, 0.4);
}

.ui.button.submit {
  color: white;
  background: #36c;
}

#messages {
  right: 10px !important;
  top: 30px !important;
  width: calc(100px + 20vw) !important;
  position: fixed !important;
  z-index: 1002 !important;
}

.ui.tiny.modal.transition.visible.active.add_modal {
  animation: slide-up 0.4s ease !important;
}
