body {
  background: #ffffff;
}

.ui.secondary.nav.menu {
  background: #36c !important;
  color: white !important;
  box-shadow: 2px 2px 2px rgb(136, 136, 136, 0.4);
}

.item.header {
  font-size: 30px !important;
  margin-top: -2vh !important;
  margin-left: -1vw !important;
  margin-bottom: -10px !important;
  color: white !important;
}

.item.header:hover {
  background: #f8f9fa !important;
}

.ui.icon.button {
  margin-right: -1vw !important;
  background: #f8f9fa;
  margin-top: -1vw !important;
}

.ui.button.docs {
  background: #f8f9fa;
  margin-right: -2vw !important;
  margin-top: -1vw !important;
}

.line.load {
  height: 10px !important;
}

.ui.fluid.placeholder.wide {
  height: 30px !important;
  margin-top: 1vh !important;
}

.ui.card.product {
  box-shadow: none !important;
  cursor: pointer !important;
  height: auto !important;
  width: 100% !important;
  animation: slide-up 0.4s ease;
}

@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.ui.card.product:hover {
  box-shadow: -2px 2px 10px 1px #888888 !important;
  z-index: 1 !important;
}

.ui.card.product:hover .header {
  color: #36c !important;
}

.ui.card.product:hover .extra.content {
  color: #000 !important;
  font-weight: bold;
}

@media only screen and (min-width: 1200px) {
  .gallary {
    margin-top: 5vh !important;
    display: inline-block !important;
    column-count: 4 !important;
    line-height: 0px !important;
    column-gap: 0px !important;
  }
}

@media only screen and (max-width: 1200px) {
  .gallary {
    margin-top: 5vh !important;
    display: inline-block !important;
    column-count: 4 !important;
    line-height: 0px !important;
    column-gap: 0px !important;
  }
}

@media only screen and (max-width: 900px) {
  .gallary {
    margin-top: 5vh !important;
    display: inline-block !important;
    column-count: 3 !important;
    line-height: 0px !important;
    column-gap: 0px !important;
  }
}

@media only screen and (max-width: 600px) {
  .gallary {
    margin-top: 5vh !important;
    display: inline-block !important;
    column-count: 2 !important;
    line-height: 0px !important;
    column-gap: 0px !important;
  }
}

@media only screen and (max-width: 400px) {
  .gallary {
    margin-top: 5vh !important;
    display: inline-block !important;
    column-count: 1 !important;
    line-height: 0px !important;
    column-gap: 0px !important;
  }
}

.ui.card.filters {
  width: 100% !important;
  box-shadow: none !important;
}

.file_upload {
  background: #eaecf0;
  padding: 10px;
  border-radius: 5px;
  color: black;
  cursor: pointer;
}

.ui.button.add_key_value {
  float: right !important;
  background: #eaecf0 !important;
  color: black !important;
  margin-right: 10px !important;
  margin-top: 5px !important;
}

.ui.button.add_key_value:hover {
  box-shadow: 2px 2px 10px 2px rgb(136, 136, 136, 0.4);
}

.ui.button.submit {
  color: white;
  background: #36c;
}

#messages {
  right: 10px !important;
  top: 30px !important;
  width: calc(100px + 20vw) !important;
  position: fixed !important;
  z-index: 1002 !important;
}

.ui.tiny.modal.transition.visible.active.add_modal {
  animation: slide-up 0.4s ease !important;
}
